
.one{
background: yellowgreen;
width: 400px;
}


.imgtag{
    width: 200px;
    height: 200px;
border-radius: 50%;

}

.sa{
    display: flex;
}

.dd{
    display: flex;  
}
.gg{
    display: flex;    
}















